
p {line-height: 2em; font-size: larger;}
li {line-height: 2em; font-size: larger;}
hr {padding-bottom: 5px;padding-top: 5px;}

.red {color: red;}
.green {color: rgb(156, 245, 156)}
.blue {color: rgb(177, 177, 249)}
.orange {color: orange}
.magenta {color: magenta}