/* * {
    margin:0px;
    padding:0px;
} */
body {
    text-align: center;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
}
#counter {
    background-color: beige;
    color:black;
    border-radius: 15px;
}
.pad {
padding:7px;
} 
.mar {
    margin:10px;
}
#controls {
    width: 100%;
    border:1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
}
#range {
    width: 100%;
    background:rgb(249, 228, 228);
    outline:blanchedalmond;
    padding:0;
    margin:4;
}
#start , #stop {
    margin:2px;
    padding:2px;
    border:1px solid grey;
}
